.anaBaslik {
  font-size: 40px;
  font-style: italic;
  color: darkblue;
  font-weight: bold;
  background-color: bisque;
  text-align: center;
  margin: auto;
}
.linkler {
  border: grey solid 3px;
  font-style: italic;
  font-size: 20px;
  background-color: bisque;
  text-align: right;
  margin: auto;
}
.tanitim {
  font-style: oblique;
  color: brown;
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
}
.egzersiz {
  float: left;
  background-color: #f5f5f5;
  margin: auto;
  padding: 70px;
  width: 500px;
  font-size: 20px;
  color: rgb(182, 123, 52);
}
.bilgisayar {
  float: left;
  background-color: #f5f5f5;
  margin: auto;
  padding: 70px;
  width: 400px;
  font-size: 20px;
  color: rgb(182, 123, 52);
}
.sci-fi {
  float: left;
  background-color: #f5f5f5;
  margin: auto;
  padding: 70px;
  width: 500px;
  font-size: 20px;
  color: rgb(182, 123, 52);
}
