.header {
  position: relative;
  text-align: left;
  color: white;
  border: 2px double white;
}
.baslik {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.yazılar {
  float: left;
  font-size: 16px;
  text-align: left;
  background-color: antiquewhite;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 30px;
}
.başlıklar {
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  border-bottom: 4px solid black;
}
